/* Bases */
/* * {
    border : 1px solid red; 
} */

/* body {
    background-image:url(/img/bg.jpg);
    background-color: #f5d88c;
} */

/* Navbar */
nav {

    background-color: #000000;
    border-bottom: 1px solid #0b0b0b;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-collapse.in {

    display: block !important;

}

#nav-content a {

    color: #eceff3;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.90em;
}

.navbar-toggler {

    background-color: #000000;
    opacity: 0.70;
    font-size: 0.5em;

}

/* Home sweat Home */
#branding {

    text-align: center;
    height: 100vh;
    padding-top:2em;
    margin-top:0em;
    background-image:url(/img/bg.jpg);
    background-size:cover;

}

#brand {

    font-size: 7em;
    padding-top: 0em;

}

#slogan {

    font-size: 2em;
    
}

/* About */

#about {

    padding-top:2em;
    margin-top:2em;

}

.img-fluid  {
    
   padding-right:0em;
    
    }

/* .carousel {
    border : 1px dashed #ff0065;
} */
/* layout */
#l-footer {

    color: #eceff3;
    background-color: #0b0b0b;

}

/* Bordered form */
form {
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;

    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
