                            /* ---- Bases ---- */
/* * {
    border: 1px solid #ff0065 
} */

/* Body */
#green-life {

    background-color:#c9f46a; 

}

.colour-block {
    /* background-image: linear-gradient(to left top, #06ade2, #36ace5, #4fabe7, #62aae8, #73a9e8, #70b0ee, #6cb8f3, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    /* background-image: linear-gradient(to left top, #06ade2, #059fd6, #0892ca, #0c84bd, #1077b0, #146da5, #17639a, #19598f, #1b4f83, #1b4678, #1b3c6c, #1a3361); */
    background:#a8eb12;
    color:#0b0b0b;
    padding-left: 2.75em;
    padding-bottom:3em;
  }

.main-color {

    background-image: linear-gradient(to right top, #d16ba5, #ff6f80, #ff8e4a, #f2bd00, #a8eb12);

}

.min-height {

    min-height: 80vh; 
     
}

/* Title && Text */
#icone {
    margin-right:0.5em;
}
.title-css {
    padding-top:1.5em;
    margin:0em;
    text-align:center;
    font-family: 'Lobster', cursive;
}

.other-title-css {
    padding-top:2.5em;
    padding-bottom:1em;
    margin:0em;
    text-align:center;
    font-family: 'Lobster', cursive;
    font-size:3.75em; 
}

h2 {

    text-transform: uppercase;
    text-align: center;
    font-family:'Knockout', Raleway;
    font-size: 3em;
    letter-spacing: 0.4em;
    padding-top: 1.2em;
    font-weight: bold;

}

h3 {

    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 2em;

}

h4 {

    font-weight: bold;
    font-size: 2em;
    text-align:center;

}

p {

    font-size: 1.25em;
    line-height: 1.5em;
    text-indent:2em;
    
}

        /* -- welcome.blade -- */

/* Header */
#branding {

    text-align: center;
    /* min-height: 100vh; */
    padding-top: 5em;
    margin-top: 0em;
    background-color:#c9f46a;
}

#logo {

    width: 20em;
	height: auto;

}

#quote {

    font-size: 2.2em;
    margin-bottom:2em;
    margin-top:2em;
    font-family: 'Cuprum', sans-serif;

}

/* À propos */
#a-propos {

    text-align:center;
    font-family: 'Cuprum', sans-serif;
    font-size:1.5em;

}

.img-fluid {

    /* padding-right: 0em; */
    float:right;

}

.scallop-down{

    height:20px;
    width:100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#a8eb12), color-stop(0.49, #a8eb12), color-stop(0.51, #c9f46a), to(#c9f46a));
  -webkit-background-size: 49px 100%;

  }

  .scallop-up{

    height:20px;
    width:100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#a8eb12), color-stop(0.49, #a8eb12), color-stop(0.51, #c9f46a), to(#c9f46a));
  -webkit-background-size: 49px 100%;
  margin-top:2em;

  }

/* Slider */
#cakerousel-block {
    padding-left: 2.75em;
}

#cakerousel {

    /* border: 1px dashed #ff0065; */
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

        /* -- gourmandise.blade -- */

/* All cards */
.card {

    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.card:hover {

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.card-title {

    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:0em;
    /* padding-top:1em; */

}

.card-subtitle {
    /* padding-top:0.2em; */
    margin-top:0.7em;
}

.card-text {
    text-align: left;
    text-indent: 0em;
}

.card-img {
    float: right;
    width: 5em;
    margin-left:2em;
    margin-right: auto;
}

.prix {
    float: right;
}

                        /* ---- Layouts ---- */

        /* -- app.blade -- */

/* Navbar */
nav {

    background-color: #000000;
    border-bottom: 1px solid #0b0b0b;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-collapse.in {

    display: block !important;

}

#nav-content  {

    color: #f8fafc;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.90em;
}

.navbar-toggler {

    background-color: #000000;
    opacity: 0.70;
    font-size: 0.5em;

}

#navbarDropdown {
    color:#fff;
}

/* Footer */
#l-footer {

    color: #eceff3;
    background-color: #0b0b0b;

}

                        /* ---- Modules ---- */

/* Btn Create, Edit && Delete */
#form-btn {
    padding: 0em;
    margin:0em;
    float:right;
    border:none;
    background:none;
    box-shadow:none;
}

.form-css {
    
    padding-top: 2.5em;
    padding-bottom:2.5em;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-log-rec {
    margin-bottom:2em;
}

/* Tableau Historique des commandes */
#story-cmde {
    margin-bottom:2em;
    padding-top: 2.5em;
    padding-bottom:2.5em;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}